Referer: header (incorrectly) sent when typing a URL using the keyboard

## Description

The browser always sends a `Referer:` header when navigating to a new HTTPS URL, even where that navigation is not the result of clicking a hyperlink or submitting a form. For example, when typing a URL using the keyboard, the domain of the previous page is leaked to the new site.

This violates [RFC1945 §10.13](https://datatracker.ietf.org/doc/html/rfc1945#section-10.13), which states:

> The Referer field must not be sent if the Request-URI was obtained from a source that does not have its own URI, such as input from the user keyboard.

## Steps to replicate

1. Visit a URL, e.g. https://example.com/
2. Into the address bar, manually type the URL of a HTTPS web page that reports the Referer: header back to you, e.g. https://www.whatismybrowser.com/, or https://requestheaders.dev/
3. Observe that the header `Referer: https://example.com/` is sent by the browser

## Expected behavior

The `Referer:` header should never be sent on requests that originate from keyboard entry.

## Screenshots

![Screenshot showing WhatIsMyBrowser.com detecting example.com as the referrer, even though example.com has no links to WhatIsMyBrowser.com](https://github.com/LadybirdBrowser/ladybird/assets/53293/ddffb844-0663-4456-9897-093d3dd17a88)

![Screenshot showing the Referer header as passed to RequestHeaders.dev](https://github.com/LadybirdBrowser/ladybird/assets/53293/fc760fcc-4bd4-43c4-8b5b-1b864860706e)


This sounds a whole lot like #355

> This sounds like it might be related to #355

I saw that issue. I think this might actually be the _opposite_ problem:

- #355 sounds to me like it's about the `Referer:` header _not_ being sent when requesting dependent resources (when it probably should, but it's not a violation of the HTTP specification to _not_ do so).
- This issue is about the `Referer:` header _being_ sent when typing in a URL (when it definitely shouldn't!).

That said: I'm not familiar with the codebase so the two could very well be closely-related.

> https://github.com/LadybirdBrowser/ladybird/issues/355 sounds to me like it's about the Referer: header not being sent

Nope, it's about the header being sent when it should not be sent -> directly browsing that ressource

Okay, you're probably right! Closing as duplicate!