Support dns HTTPS records

I tried to visit a website that just has an HTTPS record, and it fails to load the page. Indicating that the browser doesn't support HTTPS records.

It just says `Error: Unable to resolve host`.

Not sure if I should provide an example URL? www.voxga.es (not my website)

Are you sure that URL is correct? It doesn't load for me in chrome

The www version doesn't work (no CNAME for it), but the normal one loads.

What is an "HTTPS record"? 

> Are you sure that URL is correct? It doesn't load for me in chrome

That's because chrome also doesn't support this yet. There was an issue about it a while ago, and they said they we're reworking their network engine or something, and that they might add it after that. But there has been no update since, as far as I know.

Anyways, you can check the dns, that url has a HTTPS record.

> The www version doesn't work (no CNAME for it), but the normal one loads.
> 
> What is an "HTTPS record"?

I think that's beyond the scope of this issue, you should just look it up. It's a new more secure dns record for loading HTTPS web pages.


Hmm, it does seem to be an actual thing with very limited support from providers and clients. Interesting. 
Not really sure what it gains you over a normal `CNAME` but...

> Let's stay on topic instead of rambling about the potential utility of the feature. It would be good if the URL in the original post of the issue actually works when clicked on, but that's neither here nor there.
> 
> Just to confirm, the missing feature is HTTPS Resource Records (type 65) as described in section 9 of [RFC 9460 Service Binding and Parameter Specification via the DNS (SVCB and HTTPS Resource Records)](https://www.rfc-editor.org/rfc/rfc9460.html#https) ?

Yes, that's the RFC I'm talking about. I also just noticed that about the url.

So I just created this url to test this properly. https://https.hickmann.se I'll try to keep it online as long as possible for anyone who finds it useful.

It works on safari for me, but not on firefox or chromium for some reason.

@alimpfard That's not the point. It's supposed to lack a A/AAAA record. The RFC says the browser should be able to visit the site using the IPv4 and IPv6 hints. And the way I have it setup currently, it only works if your browser supports IPv4/IPv6 hints in the RFC properly. Otherwise, it fails, which is point of the test. The browser should obviously also support fetching A records and all that, for compatibility but this is just a basic test.

However, I added another record at https://httpsa.hickmann.se that has a different target which includes an A/AAAA record. Maybe that's a better way to test compatibility?

Technically implementing IPv4/IPv6 hints is optional. But I don't see why you wouldn't wanna implement them, especially for something like ladybird that aims to follow standards and be as compatible as possible. Even more so if you're implementing the RFC from scratch.

> nono, I'm saying that's probably why firefox doesn't like your deployment.

Ohh, sorry. But yes, I got your point, that's why I created the https://httpsa.hickmann.se url which does work on firefox. But it would be nice to see ladybird support hints (https://https.hickmann.se) whenever you implement the RFC.

> So I just created this url to test this properly. https://https.hickmann.se I'll try to keep it online as long as possible for anyone who finds it useful.
> 
> It works on safari for me, but not on firefox, chromium or edge for some reason. If anyone knows why, let me know and I can try to fix it.

https://https.hickmann.se/ works on safari and firefox, but not on chromium for me.

FYI I started a WIP branch with a barebones impl in LibDNS/RS <https://github.com/alimpfard/ladybird/tree/rs-dns-https>, it'll probably take a bit to get it to a mergeable state but it _does_ function fine in its current state.