Feature request: Built-in RSS support

Hey, engineer from openrss.org, here! :wave: 

We love this initiative and the thought of an entirely independent web browser is just what our web needs! Another thing our web needs is more intuitive RSS adoption. Web browsers [used to have them](https://openrss.org/blog/browsers-should-bring-back-the-rss-button), but many removed them, which is a shame. It's unfortunate because we have thousands of users who would love to see a free, all-inclusive RSS reader functionality backed directly inside their browser. The feature would also be helpful for users who have never tried RSS due to the technical know-how required to begin to use them. 

Are there any plans for RSS to be built into the web browser? 

From the FAQ
> When will you implement $THING?
Maybe someday. Maybe never. If you want to see something happen, you can do it yourself! 

> Web browsers used to have an RSS button where users could easily subscribe to an RSS feed.

They have all conspired together, in favour of the advertising and spy industries, to eliminate support for this essential feature, which has resorted me to find a solution which eventually has caused to my career to chage from a lawyer to an engineer, and without that conspiracy, over 10 projects I am responsible for, namely of Syndication and XMPP, would not have existed.

See also [XSLT support](https://github.com/LadybirdBrowser/ladybird/issues/707), and [this userscript](https://greasyfork.org/en/scripts/465932-newspaper-html-feed-reader) which renders Atom, RDF, RSS, JSON and OPML with JS.

See also [this stylesheet](https://gitgud.io/sjehuda/streamburner) which renders Atom, RDF and RSS syndication feeds.

It works with WebKit browsers and the corporates behind Gecko have again sabotaged the native built-in XSLT of Gecko (including the [JS based processor](https://openuserjs.org/garage/Why_my_script_doesnt_work_with_Firefox#comment-1810ec600fe)) when a standard option `omit-xml-decleration` is present.

Please also consider Syndications of type [XMPP](https://github.com/LadybirdBrowser/ladybird/issues/709). See also [Reeder](https://github.com/SeveFP/Reeder) and [Rivista](https://git.xmpp-it.net/sch/Rivista) which both support XMPP Syndications.

Websites like rsslookup.com can help finding RSS feeds on sites or you can inspect the source code of sites to find them manually. I think adding such functionality adds unneeded feature creep. The browser should be focused on browsing not additional functionalities. And RSS does not have much to do with webbrowsing.

@hansjansen2

Witout any intention to offend you, I beg your pardon.

* You are either unknowledgeable of RSS (particularly RFC 4287: Atom Format);
* You are either confused; or
* You are either an agent, on bealf of people who desire to strengthen centralization, and discourage decentralization.

The Atom Format (RFC 4287) allows for standard HTML dcuments, by having a predefined basis of document structure; it also include navigational directives (RFC 5005) to create online books; and it furter includes references of commenting systems (RFC 4685), similarly to XMPP, ActivityPub, OStatus, and Activity Stream.

RSS helps us, people, to neglect the need to browse sites, and deligate some automated tasks, to RSS Readers, such as Liferea, RSS Guard, NetNewWire, Vienna RSS, et cetera.

Once RSS is set, active interaction or engagement over internet browser is not needed; yet, it is te visual indicator which is crucial, and is not measuraable by metrics, unless an internet software is connected to a camera which scans the activity of your eyes.

If you are an agent, then spare the argument; as it be wasteful to me, but even more wasteful to those who have ordered your engagement to try to suppress this cause.


### Stylesheet

I have created a stylesheet which transforms XML documents to (X)HTML for use with other internet software; and it is fit to Ladybird, also.

It includes support of Atomsub (Atom documents over XMPP PubSub) which is currently working with internet browsers which have XMPP support (Chawan and Falkon).

More information at.

https://git.xmpp-it.net/sch/StreamBurner

https://gitgud.io/sjehuda/streamburner

<details>

```xml
<?xml version="1.0" encoding="UTF-8"?>

<xsl:stylesheet
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:enc="http://purl.oclc.org/net/rss_2.0/enc#"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:rss="http://purl.org/rss/1.0/"
  xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
  xmlns:georss="http://www.georss.org/georss"
  xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
  xmlns:media="http://search.yahoo.com/mrss/"
  xmlns:pubsub="http://jabber.org/protocol/pubsub"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:syn="http://purl.org/rss/1.0/modules/syndication/"
  xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
  xmlns:dyn="http://exslt.org/dynamic"
  xmlns:xhtml="http://www.w3.org/1999/xhtml"
  version="1.0">

  <!-- xsl:import href="dyn.xsl" / -->

  <!-- xsl:choose>
    <xsl:when test="function-available('dyn:evaluate')">
      <xsl:value-of select="dyn:evaluate($xpath)"/>
    </xsl:when>
    <xsl:otherwise>
      <xsl:message terminate="yes">Unsupported XSLT processor.</xsl:message>
    </xsl:otherwise>
  </xsl:choose -->


  <xsl:output
    indent="yes"
    media-type="text/html"
    method="html"
    omit-xml-decleration="no"/>

  <!-- XMPP PubSub Atomsub -->
  <xsl:template match="/pubsub:pubsub">
    <xsl:call-template name="compile-xhtml">
      <xsl:with-param name="description"
                      select="//pubsub:items/@node"/>
      <xsl:with-param name="mimetype"
                      select="application/pubsub+xml"/>
      <xsl:with-param name="feed-title"
                      select="//pubsub:items/@title"/>
      <xsl:with-param name="feed-title-routine"
                      select="'Chawan Atomsub Viewer'"/>
      <xsl:with-param name="feed-subtitle"
                      select="'Atom Over XMPP (XEP-0277 and XEP-0472)'"/>
      <xsl:with-param name="entry-to-count"
                      select="//pubsub:item"/>
      <xsl:with-param name="entry-to-iterate"
                      select="//pubsub:item/atom:entry"/>
    </xsl:call-template>
  </xsl:template>

  <!-- The Atom Syndication Format 1.0 -->
  <xsl:template match="/atom:feed">
    <xsl:call-template name="compile-xhtml">
    <!-- index right-to-left language codes -->
    <!-- TODO http://www.w3.org/TR/xpath/#function-lang -->
      <xsl:with-param name="rtl"
                      select="@xml:lang[
                                contains(self::node(),'ar') or
                                contains(self::node(),'fa') or
                                contains(self::node(),'he') or
                                contains(self::node(),'ji') or
                                contains(self::node(),'ku') or
                                contains(self::node(),'ur') or
                                contains(self::node(),'yi')]"/>
      <xsl:with-param name="description"
                      select="atom:subtitle/text()"/>
      <xsl:with-param name="mimetype"
                      select="application/atom+xml"/>
      <xsl:with-param name="feed-title"
                      select="atom:title/text()"/>
      <xsl:with-param name="feed-title-routine"
                      select="'Chawan Atom Format Viewer'"/>
      <xsl:with-param name="feed-subtitle"
                      select="atom:subtitle/text()"/>
      <xsl:with-param name="entry-to-count"
                      select="atom:entry"/>
      <xsl:with-param name="entry-to-iterate"
                      select="atom:entry"/>
    </xsl:call-template>
  </xsl:template>

  <!-- RDF Site Summary 1.0 and 1.1 -->
  <xsl:template match="/rdf:RDF">
    <xsl:call-template name="compile-xhtml">
      <xsl:with-param name="description"
                      select="rss:channel/rss:description/text()"/>
      <xsl:with-param name="mimetype"
                      select="application/rdf+xml"/>
      <xsl:with-param name="feed-title"
                      select="rss:channel/rss:title/@title"/>
      <xsl:with-param name="feed-title-routine"
                      select="'Chawan RDF Viewer'"/>
      <xsl:with-param name="feed-subtitle"
                      select="rss:channel/rss:description/text()|
                              rss:channel/itunes:subtitle/text()"/>
      <xsl:with-param name="entry-to-count"
                      select="rss:item"/>
      <xsl:with-param name="entry-to-iterate"
                      select="rss:item"/>
    </xsl:call-template>
  </xsl:template>

  <!-- RDF Site Summary 0.9x and 2.0 -->
  <xsl:template match="/rss">
    <xsl:call-template name="compile-xhtml">
      <xsl:with-param name="description"
                      select="channel/description"/>
      <xsl:with-param name="mimetype"
                      select="application/rss+xml"/>
      <xsl:with-param name="feed-title"
                      select="channel/title/text()"/>
      <xsl:with-param name="feed-title-routine"
                      select="'Chawan RSS Viewer'"/>
      <xsl:with-param name="feed-subtitle"
                      select="channel/description/text()|
                              channel/itunes:subtitle/text()"/>
      <xsl:with-param name="entry-to-count"
                      select="channel/item"/>
      <xsl:with-param name="entry-to-iterate"
                      select="channel/item"/>
    </xsl:call-template>
  </xsl:template>

  <!-- Template to set metadata of a document. -->
  <xsl:template name="metadata">
    <xsl:param name="name"/>
    <xsl:param name="content"/>
    <xsl:if test="string-length($content) &gt; 0">
      <xsl:element name="meta">
        <xsl:attribute name="name">
          <xsl:value-of select="$name"/>
        </xsl:attribute>
        <xsl:attribute name="content">
          <xsl:value-of select="$content"/>
        </xsl:attribute>
      </xsl:element>
    </xsl:if>
  </xsl:template>

  <!-- Template to extract filename from a URI. -->
  <!-- 
    <xsl:template name="extract-filename">
        <xsl:param name="url"/>
        <xsl:choose>
            <xsl:when test="contains($url,'/')">
                <xsl:call-template name="extract-filename">
                    <xsl:with-param name="url" select="substring-after($url,'/')"/>
                </xsl:call-template>
            </xsl:when>
            <xsl:otherwise>
                <xsl:value-of select="$url"/>
            </xsl:otherwise>
        </xsl:choose>
    </xsl:template>
    -->

  <!-- FIXME: RSS 2.0 enclosures of StatusNet -->
  <!-- Template to extract filename from a URI. -->
  <xsl:template name="extract-filename">
    <xsl:param name="url"/>
    <xsl:choose>
      <!-- We check whether there is a dot after domain name so we will not end up with an empty string -->
      <!-- ends-with of XPath 2.0 does not work everywhere -->
      <xsl:when test="substring($url, string-length($url) - string-length('/') + 1)  = '/'">
        <xsl:value-of select="substring-after(substring($url, 1, string-length($url) - 1),'://')"/>
      </xsl:when>
      <xsl:otherwise>
        <xsl:choose>
          <xsl:when test="contains($url,'/') and contains(substring-after($url,'/'),'.')">
            <xsl:call-template name="extract-filename">
              <xsl:with-param name="url" select="substring-after($url,'/')"/>
            </xsl:call-template>
          </xsl:when>
          <xsl:otherwise>
            <xsl:value-of select="$url"/>
          </xsl:otherwise>
        </xsl:choose>
      </xsl:otherwise>
    </xsl:choose>
  </xsl:template>

  <!-- Template to transform value of filesize from Bytes to KiB, MiB, or GiB. -->
  <xsl:template name="transform-filesize">
    <xsl:param name="length"/>
    <!-- TODO consider xsl:decimal-format and xsl:number -->
    <xsl:choose>
      <!-- TODO consider removal of Byte -->
      <xsl:when test="$length &lt; 2">
        <xsl:value-of select="$length"/>
        <xsl:text>Byte</xsl:text>
      </xsl:when>
      <xsl:when test="floor($length div 1024) &lt; 1">
        <xsl:value-of select="$length"/>
        <xsl:text>Bytes</xsl:text>
      </xsl:when>
      <xsl:when test="floor($length div (1024 * 1024)) &lt; 1">
        <xsl:value-of select="floor($length div 1024)"/>
        <xsl:text>.</xsl:text>
        <xsl:value-of select="substring($length mod 1024,0,2)"/>
        <xsl:text>KiB</xsl:text>
      </xsl:when>
      <xsl:when test="floor($length div (1024 * 1024 * 1024)) &lt; 1">
        <xsl:value-of select="floor($length div (1024 * 1024))"/>
        <xsl:text>.</xsl:text>
        <xsl:value-of select="substring($length mod (1024 * 1024),0,2)"/>
        <xsl:text>MiB</xsl:text>
      </xsl:when>
      <xsl:otherwise>
        <!-- BitTorrent, eDonkey2000, Gnutella, MUTE -->
        <xsl:value-of select="floor($length div (1024 * 1024 * 1024))"/>
        <xsl:text>.</xsl:text>
        <xsl:value-of select="substring($length mod (1024 * 1024 * 1024),0,2)"/>
        <xsl:text>GiB</xsl:text>
      </xsl:otherwise>
    </xsl:choose>
  </xsl:template>

  <!-- Template to compile and XHTML document. -->
  <xsl:template name="compile-xhtml">
    <xsl:param name="rtl"/>
    <xsl:param name="description"/>
    <xsl:param name="mimetype"/>
    <xsl:param name="feed-title"/>
    <xsl:param name="feed-title-routine"/>
    <xsl:param name="feed-subtitle"/>
    <xsl:param name="entry-to-count"/>
    <xsl:param name="entry-to-iterate"/>
    <html>
      <head>
        <xsl:call-template name="metadata">
          <xsl:with-param name="name" select="'description'"/>
          <xsl:with-param name="content" select="$description"/>
        </xsl:call-template>
        <xsl:call-template name="metadata">
          <xsl:with-param name="name" select="'generator'"/>
          <xsl:with-param name="content" select="'StreamBurner XSLT Edition'"/>
        </xsl:call-template>
        <xsl:call-template name="metadata">
          <xsl:with-param name="name" select="'mimetype'"/>
          <xsl:with-param name="content" select="$mimetype"/>
        </xsl:call-template>
        <title>
          <xsl:choose>
            <xsl:when test="string-length($feed-title) &gt; 0">
              <xsl:value-of select="$feed-title"/>
            </xsl:when>
            <xsl:otherwise>Chawan Atomsub Viewer</xsl:otherwise>
          </xsl:choose>
        </title>
        <!-- TODO media="print" -->
        <link href="streamburner.css" rel="stylesheet" type="text/css" media="screen"/>
        <!-- whether language code is of direction right-to-left -->
        <xsl:if test="$rtl">
          <link id="semitic" href="syndication-rtl.css" rel="stylesheet" type="text/css"/>
        </xsl:if>
      </head>
      <body>
        <div id="feed">
          <header>
            <!-- feed title -->
            <h1 id="title">
              <xsl:choose>
                <xsl:when test="string-length($feed-title) &gt; 0">
                  <xsl:value-of select="$feed-title"/>
                </xsl:when>
                <xsl:otherwise>
                  <xsl:value-of select="$description"/>
                </xsl:otherwise>
              </xsl:choose>
            </h1>
            <!-- feed subtitle -->
            <h2 id="subtitle">
              <xsl:value-of select="$description"/>
            </h2>
          </header>
          <xsl:if test="count($entry-to-count) &gt; 1">
            <div id="toc">
              <!-- xsl:for-each select="//pubsub:item[position() &lt; 21]/atom:entry" -->
              <!-- xsl:for-each select="//pubsub:item[not(position() &gt; 20)]/atom:entry" -->
              <xsl:for-each select="$entry-to-iterate">
                <xsl:if test="atom:title|
                              rss:title|
                              title">
                  <div>
                    <xsl:element name="a">
                      <xsl:attribute name="href">
                        <xsl:text>#streamburner-</xsl:text>
                        <xsl:value-of select="position()"/>
                      </xsl:attribute>
                      <xsl:value-of select="atom:title|
                                            rss:title|
                                            title"/>
                    </xsl:element>
                  </div>
                </xsl:if>
              </xsl:for-each>
            </div>
          </xsl:if>
          <section id="articles">
            <!-- feed entry -->
            <xsl:choose>
              <xsl:when test="$entry-to-iterate">
                <!-- xsl:for-each select="//pubsub:item[not(position() &gt; 20)]/atom:entry" -->
                <xsl:for-each select="$entry-to-iterate">
                  <div class="entry">
                    <!-- entry title -->
                    <xsl:if test="atom:title|
                                  rss:title|
                                  title">
                      <h3 class="title">
                        <xsl:attribute name="id">
                          <xsl:text>streamburner-</xsl:text>
                          <xsl:value-of select="position()"/>
                        </xsl:attribute>
                        <xsl:value-of select="atom:title|
                                              rss:title|
                                              title"/>
                      </h3>
                    </xsl:if>
                    <!-- entry author -->
                    <xsl:for-each select="atom:author|
                                          itunes:author|
                                          rss:author|
                                          author">
                      <span class="author">
                        <xsl:choose>
                          <xsl:when test="atom:uri">
                            <xsl:element name="a">
                              <xsl:attribute name="href">
                                <xsl:value-of select="atom:uri"/>
                              </xsl:attribute>
                              <xsl:value-of select="atom:name"/>
                            </xsl:element>
                          </xsl:when>
                          <xsl:when test="atom:email">
                            <xsl:element name="a">
                              <xsl:attribute name="href">
                                <xsl:text>mailto:</xsl:text>
                                <xsl:value-of select="atom:email"/>
                              </xsl:attribute>
                              <xsl:text>Send an Email message to </xsl:text>
                              <xsl:value-of select="atom:name"/>
                            </xsl:element>
                          </xsl:when>
                          <xsl:otherwise>
                            <xsl:value-of select="atom:name|
                                                  text()"/>
                          </xsl:otherwise>
                        </xsl:choose>
                      </span>
                    </xsl:for-each>
                    <!-- entry date -->
                    <xsl:choose>
                      <xsl:when test="atom:updated">
                        <div class="updated">
                          <xsl:attribute name="title">
                            <xsl:copy-of select="atom:updated/text()"/>
                          </xsl:attribute>
                          <!-- xsl:value-of select="substring(atom:updated/text(), 0, 11)"/ -->
                          <xsl:value-of select="text()"/>
                        </div>
                      </xsl:when>
                      <xsl:when test="atom:published|
                                      dc:date|
                                      PubDate">
                        <div class="published">
                          <xsl:attribute name="title">
                            <xsl:copy-of select="text()"/>
                          </xsl:attribute>
                          <!-- xsl:value-of select="substring(text(), 0, 11)"/ -->
                          <xsl:value-of select="text()"/>
                        </div>
                      </xsl:when>
                    </xsl:choose>
                    <!-- /div -->
                    <!-- entry summary -->
                    <xsl:variable name="summary"
                                  select="atom:summary|
                                          description|
                                          itunes:summary|
                                          rss:description"/>
                    <xsl:if test="string-length($summary) &gt; 0">
                      <h4>Summary</h4>
                      <p class="summary">
                        <xsl:attribute name="type">
                          <xsl:value-of select="$summary/@type"/>
                        </xsl:attribute>
                        <xsl:choose>
                          <xsl:when test="$summary[@type='xhtml']">
                            <p xmlns="http://www.w3.org/1999/xhtml" class="summary" type="xhtml">
                              <xsl:copy-of select="$summary/node()"/>
                            </p>
                          </xsl:when>
                          <xsl:when test="$summary[@type='base64']">
                            <!-- TODO add xsl:template to handle type="base64" inline media -->
                          </xsl:when>
                          <xsl:otherwise>
                            <xsl:value-of select="$summary/text()"
                                          disable-output-escaping="yes"/>
                          </xsl:otherwise>
                        </xsl:choose>
                      </p>
                    </xsl:if>
                    <!-- entry content -->
                    <!-- xsl:if test="string-length(atom:content) &gt; 0" -->
                    <!-- 
                        NOTE of RFC 4287.
                        Element atom:content must not appear more than
                        once; However, specification XEP-0277 and
                        publishing platforms, such as Libervia and
                        Movim, violate that rule by utilizing element
                        atom:content to store text version of an XHTML
                        post either as plain text or markdown format.
                    -->
                    <xsl:variable name="content"
                                  select="atom:content|
                                          content:encoded"/>
                    <xsl:choose>
                      <xsl:when test="count($content) = 2 and $content[@type='xhtml']">
                        <h4>Content</h4>
                        <p xmlns="http://www.w3.org/1999/xhtml" class="content" type="xhtml">
                          <xsl:copy-of select="$content[@type='xhtml']/node()"/>
                        </p>
                      </xsl:when>
                      <xsl:otherwise>
                        <h4>Content</h4>
                        <p class="content">
                          <xsl:attribute name="type">
                            <xsl:value-of select="$content/@type"/>
                          </xsl:attribute>
                          <xsl:choose>
                            <xsl:when test="$content[@type='xhtml']">
                              <div xmlns="http://www.w3.org/1999/xhtml" class="content" type="xhtml">
                                <xsl:copy-of select="$content/node()"/>
                              </div>
                            </xsl:when>
                            <xsl:when test="$content[@type='base64']">
                              <!-- TODO add xsl:template to handle type="base64" inline media -->
                            </xsl:when>
                            <xsl:otherwise>
                              <xsl:value-of select="$content/text()"
                                            disable-output-escaping="yes"/>
                            </xsl:otherwise>
                          </xsl:choose>
                        </p>
                      </xsl:otherwise>
                    </xsl:choose>
                    <!-- geographic location -->
                    <xsl:if test="geo:lat and geo:long|
                                  geo:Point|
                                  georss:point">
                      <h4>Location</h4>
                      <div class="geolocation">
                        <xsl:choose>
                          <xsl:when test="geo:lat and geo:long">
                            <xsl:variable name="lat" select="geo:lat"/>
                            <xsl:variable name="lng" select="geo:long"/>
                            <span class="geolocation">
                              <a href="geo:{$lat},{$lng}">📍</a>
                            </span>
                          </xsl:when>
                          <xsl:when test="geo:Point">
                            <xsl:variable name="lat" select="geo:Point/geo:lat"/>
                            <xsl:variable name="lng" select="geo:Point/geo:long"/>
                            <span class="geolocation">
                              <a href="geo:{$lat},{$lng}">📍</a>
                            </span>
                          </xsl:when>
                          <xsl:when test="georss:point">
                            <xsl:variable name="lat" select="substring-before(georss:point, ' ')"/>
                            <xsl:variable name="lng" select="substring-after(georss:point, ' ')"/>
                            <xsl:variable name="name" select="georss:featurename"/>
                            <span class="geolocation">
                              <a href="geo:{$lat},{$lng}" title="{$name}">📍</a>
                            </span>
                          </xsl:when>
                        </xsl:choose>
                      </div>
                    </xsl:if>
                    <!-- entry enclosure -->
                    <xsl:if test="atom:link[@rel='enclosure']|
                                  enc:enclosure|
                                  media:content|
                                  rss:enclosure|
                                  enclosure">
                      <h4>Enclosures</h4>
                      <ul class="enclosure">
                        <xsl:for-each select="atom:link[@rel='enclosure']|
                                              enc:enclosure|
                                              media:content|
                                              rss:enclosure|
                                              enclosure">
                          <li>
                            <xsl:attribute name="type">
                              <xsl:value-of select="@enc:type|
                                                    @medium|
                                                    @type"/>
                            </xsl:attribute>
                            <a>
                              <xsl:attribute name="href">
                                <xsl:value-of select="@href|
                                                      @rdf:resource|
                                                      @url"/>
                              </xsl:attribute>
                              <xsl:attribute name="download"/>
                              <xsl:choose>
                                <xsl:when test="string-length(@title) &gt; 0">
                                  <xsl:value-of select="@title"/>
                                </xsl:when>
                                <xsl:otherwise>
                                  <xsl:call-template name="extract-filename">
                                    <xsl:with-param name="url"
                                                    select="@href|
                                                            @rdf:resource|
                                                            @url"/>
                                  </xsl:call-template>
                                </xsl:otherwise>
                              </xsl:choose>
                            </a>
                            <xsl:if test="string-length(
                                            @enc:length|
                                            @fileSize|
                                            @length
                                          ) &gt; 0">
                              <br/>
                              <xsl:call-template name="transform-filesize">
                                <xsl:with-param name="length" select="@enc:length|
                                                                      @fileSize|
                                                                      @length"/>
                              </xsl:call-template>
                            </xsl:if>
                          </li>
                        </xsl:for-each>
                      </ul>
                    </xsl:if>
                    <!-- entry navigation -->
                    <xsl:if test="atom:link[@rel='next' or @rel='previous']">
                      <h4>Navigation</h4>
                      <ul class="navigation">
                        <xsl:for-each select="atom:link[@rel='next']|
                                              atom:link[@rel='previous']">
                          <li>
                            <xsl:attribute name="type">
                              <xsl:value-of select="@type"/>
                            </xsl:attribute>
                            <a>
                              <xsl:attribute name="href">
                                <xsl:value-of select="@href"/>
                              </xsl:attribute>
                              <xsl:value-of select="@title|
                                                    @rel"/>
                            </a>
                          </li>
                        </xsl:for-each>
                      </ul>
                    </xsl:if>
                    <!-- entry related -->
                    <xsl:if test="atom:link[@rel='related']">
                      <h4>Related</h4>
                      <ul class="related">
                        <xsl:for-each select="atom:link[@rel='related']">
                          <li>
                            <xsl:attribute name="type">
                              <xsl:value-of select="@type"/>
                            </xsl:attribute>
                            <a>
                              <xsl:attribute name="href">
                                <xsl:value-of select="@href"/>
                              </xsl:attribute>
                              <xsl:value-of select="@title"/>
                            </a>
                          </li>
                        </xsl:for-each>
                      </ul>
                    </xsl:if>
                    <!-- entry alternate -->
                    <xsl:if test="atom:link[@rel='alternate']|
                                  rss:link|
                                  link">
                      <h4>Alternate</h4>
                      <ul class="alternate">
                        <xsl:for-each select="atom:link[@rel='alternate']|
                                              rss:link|
                                              link">
                          <li>
                            <xsl:attribute name="type">
                              <xsl:value-of select="@type"/>
                            </xsl:attribute>
                            <a>
                              <xsl:attribute name="href">
                                <xsl:value-of select="@href|
                                                      text()"/>
                              </xsl:attribute>
                              <xsl:value-of select="@title|
                                                    @href|
                                                    text()"/>
                            </a>
                          </li>
                        </xsl:for-each>
                      </ul>
                    </xsl:if>
                  </div>
                  <!-- entry id -->
                  <xsl:if test="not(
                                  atom:id|
                                  rss:guid|
                                  guid
                                )">
                    <div class="warning atom1 id"/>
                  </xsl:if>
                </xsl:for-each>
              </xsl:when>
              <xsl:otherwise>
                <div class="notice no-entry"/>
              </xsl:otherwise>
            </xsl:choose>
          </section>
        </div>
      </body>
    </html>
  </xsl:template>

</xsl:stylesheet>
```

</details>

### Rivista Voyager as a social network over HTTP

Atompub as an HTTP replacement of ActivityPub, Nostr, and XMPP.

Project [Rivista Voyager](https://git.xmpp-it.net/sch/Rivista) is entirely made of XML documents (Atom format), and is soon to include XForms.

Once XForms is added, it be possible to equally interact with Rivista instances from:

* LED devices (e.g. [Rockbox](https://rockbox.org) and [Tangara](https://cooltech.zone/tangara/));
* RSS Readers (e.g. [Liferea](https://lzone.de/liferea/) and [RSS Guard](https://github.com/martinrotter/rssguard/releases/tag/devbuild5)); and
* HTML software (e.g. [BadWolf](https://hacktivis.me/projects/badwolf), [Falkon](https://falkon.org), [Otter Browser](https://otter-browser.org/), and, of course, Ladybird).

Last question, if I may.

Are you hating people with disabilities (e.g. blind, deaf, or otherwise)?

I ask this, because the largest population, in relative measures, that utilize RSS are those people.

P.S. I reported of these recent developments, including the recent version of StreamBurner, thanks to your reminder.

Friends. Please petition and encourage the developers to support XSLT support (reference: issue number 707), so that it be possible to utilize the StreamBurner XSLT stylesheet in order to immediately add RSS support to Ladybird.

**Seven Zero Seven (707)** is the number of the issue of XSLT, and is your "emergency number", until XSLT is finally supported by Ladybird.

https://github.com/LadybirdBrowser/ladybird/issues/707

https://git.xmpp-it.net/sch/StreamBurner

This message is off-topic and be hidden.

It is a counter argument against third-party services, that are more expensive than client-side solutions.

@hansjansen2

Your argument is based upon third-party elements, and as such is against privacy, albeit it is open source, because the server is hold by a third-party element.

I advise you to ask FF, GC, and other "vendors" to remove their fancy 50MB - 100MB graphics in favour of this ECMAScript code which does the detection task for you, and in private!

This script will create an RSS icon upon every page of publications that provide RSS.

Upon click, it will display a list of available RSS resources.

<img width="1158" height="925" alt="Image" src="https://github.com/user-attachments/assets/d1624154-7341-4110-9ad4-613c6f98bbe4" />

```js
const
  hueDegreeValue = 0,
  iconPosition = "br",
  svgGraphics = `<?xml version="1.0"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="128px" height="128px" viewBox="0 0 256 256"><defs><linearGradient x1="0.085" y1="0.085" x2="0.915" y2="0.915" id="syndication"><stop  offset="0.0" stop-color="#E3702D"/><stop  offset="0.1071" stop-color="#EA7D31"/><stop  offset="0.3503" stop-color="#F69537"/><stop  offset="0.5" stop-color="#FB9E3A"/><stop  offset="0.7016" stop-color="#EA7C31"/><stop  offset="0.8866" stop-color="#DE642B"/><stop  offset="1.0" stop-color="#D95B29"/></linearGradient></defs><rect width="256" height="256" rx="55" ry="55" x="0"  y="0"  fill="#CC5D15"/><rect width="246" height="246" rx="50" ry="50" x="5"  y="5"  fill="#F49C52"/><rect width="236" height="236" rx="47" ry="47" x="10" y="10" fill="url(#syndication)"/><circle cx="68" cy="189" r="24" fill="#FFF"/><path d="M160 213h-34a82 82 0 0 0 -82 -82v-34a116 116 0 0 1 116 116z" fill="#FFF"/><path d="M184 213A140 140 0 0 0 44 73 V 38a175 175 0 0 1 175 175z" fill="#FFF"/></svg>`;

window.addEventListener("load", function() {
  let links = [],
      mimeTypes = [
        "application/activity+xml",
        "application/activitystream+xml",
        "application/atom+xml",
        "application/feed+json",
        "application/gemini+text",
        "application/pubsub+xml",
        "application/rdf+xml",
        "application/rss+json",
        "application/rss+xml",
        "application/smf+xml",
        "application/stream+xml",
        "application/twtxt+text",
        "text/twtxt+plain",
        "text/gemini"
      ];
  for (mimeType of mimeTypes) {
    results = document.head.querySelectorAll(`link[type="${mimeType}"`);
    /*
    results = document.head.queryPathAll(
      null,
      //`link[@rel="alternate" and contains(@type, "${mimeType}")]`);
      `link[@rel="alternate" and @type="${mimeType}"]`);
    */
    for (result of results) {
      let a = document.createElement("a");
      if (result.href.startsWith("feed:")) {
        result.href = result.href.replace("feed:", "http:");
      } else
      if (result.href.startsWith("itpc:")) {
        result.href = result.href.replace("itpc:", "http:");
      } else {
      }
      a.href = result.href;
      a.title = mimeType;
      a.textContent = result.title;
      a.style.display = "block";
      a.style.color = "#eee";
      for (let i = 0; i < a.style.length; i++) {
        a.style.setProperty(
          a.style[i],
          a.style.getPropertyValue(a.style[i]),
          "important"
        );
      }
      links.push(a);
    }
  }
  if (links.length) {
    generateRssIndicator(links)
  }
});

function generateRssIndicator(links) {
  let iconElement = document.createElement("div");
  //iconElement.id = namespace + "-icon";
  iconElement.innerHTML = svgGraphics;
  if (iconPosition.includes("b")) {iconElement.style.bottom = 0};
  if (iconPosition.includes("l")) {iconElement.style.left = 0};
  if (iconPosition.includes("r")) {iconElement.style.right = 0};
  if (iconPosition.includes("t")) {iconElement.style.top = 0};
  iconElement.style.margin = "1em";
  iconElement.style.display = "block";
  iconElement.style.position = "fixed";
  iconElement.style.zIndex = 2147483646;
  //iconElement.style.height = "32px";
  //iconElement.style.width = "32px";
  svgElement = iconElement.querySelector("svg");
  svgElement.style.height = "32px";
  svgElement.style.width = "32px";
  svgElement.style.filter = `drop-shadow(2px 2px 2px orange) hue-rotate(${hueDegreeValue}deg)`;
  // Set !important
  for (let i = 0; i < iconElement.style.length; i++) {
    iconElement.style.setProperty(
      iconElement.style[i],
      iconElement.style.getPropertyValue(iconElement.style[i]),
      "important"
    );
  }
  //iconElement.append("索 This site offers syndicated contents:") // 📰 ⚛
  //links.forEach(link => iconElement.append(link));
  //iconElement.append(closeButton(iconElement));
  document.body.append(iconElement);
  let dl = document.createElement("dl");
  dl.style.backgroundColor = "rgb(94, 94, 94)"; // rgb(76 176 76)
  dl.style.borderRadius = "7px";
  dl.style.textDecoration = "none";
  dl.style.fontFamily = "system-ui";
  dl.style.fontSize = "80%";
  dl.style.margin = "7px";
  dl.style.padding = "7px";
  dl.style.display = "block";
  //dl.style.textAlign = "center";
  dl.style.direction = "ltr";
  dl.style.userSelect = "none";
  dl.style.position = "fixed";
  dl.style.bottom = 0;
  //dl.style.left = 0;
  dl.style.right = 0;
  //document.body.append(dl);
  let dt = document.createElement("dt");
  dl.append(dt);
  let dtSpan = document.createElement("span");
  dtSpan.style.color = "rgb(230 230 230)";
  dtSpan.style.fontWeight = "bold";
  dtSpan.textContent = "📰 Subscriptions";
  dt.append(dtSpan);
  let dd = document.createElement("dd");
  dl.append(dd);
  let ddP = document.createElement("p");
  ddP.style.color = "#fff";
  ddP.textContent = "RSS news subscriptions for you to choose from.";
  dd.append(ddP);
  let ddDivA = document.createElement("div");
  ddDivA.style.textAlign = "left";
  dd.append(ddDivA);
  for (divA of links) {ddDivA.append(divA);}
  let ddDivB = document.createElement("div");
  ddDivB.style.textAlign = "right";
  dd.append(ddDivB);
  let divButton = document.createElement("button");
  divButton.textContent = "Close";
  divButton.style.margin = "7px";
  divButton.onclick = () => {
    dl.remove();
    document.body.append(iconElement);
  }
  ddDivB.append(divButton);
  // iconElement
  iconElement.onclick = () => {
    document.body.append(dl);
    iconElement.remove();
  }
}

Node.prototype.queryPathAll = function (xmlns, expression) {
  let data = this.ownerDocument || this;
  let nodes = data.evaluate(
    expression,
    this,
    () => xmlns,
    XPathResult.ORDERED_NODE_ITERATOR_TYPE,
    null);
  let results = [];
  let node = nodes.iterateNext();
  while (node) {
    // Add the link to the array
    results.push(node);
    // Get the next node
    node = nodes.iterateNext();
  }
  return results;
};

Node.prototype.queryPath = function (xmlns, expression) {
  let data = this.ownerDocument || this;
  return data.evaluate(
    expression,
    this,
    () => xmlns,
    XPathResult.FIRST_ORDERED_NODE_TYPE,
    null)
    .singleNodeValue;
};
```

This is made in ECMAScript for the sake of portability; yet, if it is implemented natively in Ladybird, then the code be significantly shorter (probably lesss tan 20 or 10 lines, at best).

Sjehuda
I have checked the PR history, none appear to attempt to add RSS support and none thus have been rejected. "They have all conspired together, in favour of the advertising and spy industries, to eliminate support for this essential feature" is an accusation that I can corroborate. It seems that no one has taken up the task of adding this essential feature. Furthermore the official Ladybird website proved an RSS feed 

This is clearly not a productive conversation. RSS and ATOM feed support is most likely to be added as an extension once we implement extensions. Closing and locking.